* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
   }
  
  body{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-color: #fff;
    max-width: 90rem;
    margin: auto;
   }

   .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3c3f40;
        height: 800px;
    }

    .logo {
        margin-top: 60px;
        height: 40px;
        margin-left: 100px;
    }
   
    .items {
        display: flex;
        flex-direction: row;
        font-family: 'Courier New', Courier, monospace;
        color:#fff;
        margin-top: 60px;
        font-size: 15px;
        gap: 35px;
        font-family: sans-serif;
        margin-left: 350px;
        }

    .button {
        margin-top: 50px;
        margin-right: 100px;
        margin-bottom: 700px;
        font-family: sans-serif;
        background-color: transparent;
        color: #fff;
        font-size: 13px;
        padding: 5px 40px;
        border-color: #fff;
    }

    .contianer2 {
        margin-right: -250px;
    }

    .Groupimage {
        height: 550px;
        margin-top: -470px; 
        margin-left:  -620px;
    }

    .header {
        float: right;
        margin-top: -300px;
        margin-right: 200px;
    }

    .header h1 {
        font-family: sans-serif;
        font-size: 60px;
        color: #fff;
        margin-top: -250px;
        margin-right: 200px;
        }
 
    .header p {
        font-family: sans-serif;
        color: #bbb;
        font-size: 20px;
        margin-top: 25px;
        line-height: 30px;
        text-align: left;
    }

    .Talk {
        font-family: sans-serif;
        border-style: double;
        color: #fff;
        font-size: 20px;
        padding: 10px 40px;
        background-color: #8eb9a0;
        border: none;
        z-index: 2;
        position: absolute;
        margin-left: 321px;
        margin-top: -33.5px;
        }

    .Email {
      font-family: sans-serif;
      font-size: 18px;
      background-color: #fff;
      padding: 20px 220px 20px 50px;
      color: #000;
     border: none;
     margin-right: -175px;
     z-index: 0;
     position: absolute;
     margin-top: -42.5px;
     }

    .mail {
        height: 15px;
       z-index: 1;
       position: relative;
       margin-top: 70px;
       margin-left: 15px;
    }

    .header2 h2 {
       text-align:center;
       font-size: 60px ;
       margin-top: 70px;
       font-family: serif;
       margin-right: 10px;
    }
    
    .stats {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-right: 10px;
    }

    .Groupimage2 {
        height: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 103px;
    }

    .Project h1 {
        font-family: sans-serif;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .Project h3 {
        font-family: sans-serif;
        color: gray;
        font-size: 20px;
    }

    .care {
        text-align:center;
       font-size: 30px ;
       margin-top: 70px;
       font-family: Arial, Helvetica, sans-serif;
       line-height: 65px;
    }

    .singleimage {
        height: 550px;
        float: right;
        margin-right: 100px;
        margin-top: -450px;
    }

    .header3 {
     margin-left: 100px;
     margin-top: 200px;
     font-family: sans-serif;
     }

    .header3 h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .header3 p {
        color: gray;
        font-size: 23px;
        line-height: 35px;
        margin-bottom: 40px;
    }
    
    .button2 {
        font-family: sans-serif;
        border-style: double;
        color: #fff;
        font-size: 20px;
        padding: 10px 40px;
        background-color: #8eb9a0;
        border: none;
        }

    .singleimage1 {
            height: 550px;
            margin-top: -500px;
            margin-left: 80px;
         }

    .header4 {
        margin-left: 720px;
        margin-top: 350px;
        font-family: sans-serif;
    }
        
    .header4 h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }
        
    .header4 p {
        color: gray;
        font-size: 23px;
        line-height: 35px;
        margin-bottom: 40px;
    }
        
   .singleimage2 {
       height: 550px;
        float: right;
        margin-top: -450px;
        margin-right: 100px;
    }
        
    
    .header5 {
        margin-top: 250px;
        font-family: sans-serif;
        margin-left: 70px;
        }
   
    .header5 h1 {
           font-size: 50px;
           margin-bottom: 25px;
          }
   
    .header5 p {
           color: gray;
           font-size: 23px;
           line-height: 35px;
           margin-bottom: 40px;
       }
        
    .Great {
         margin-top: 280px;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         gap: 250px;
        }

    .Great h1 {
        font-family: sans-serif;
        font-size: 50px;
    }

    .Great p {
        font-family: sans-serif;
        font-size: 22px;
        color: gray;
        line-height: 35px;
    }

    .Amera {
        height: 470px;
        margin-bottom: 20px;
     }

    .Photos {
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 50px;
        margin-top: 100px;
    }

    .peoples h2 {
        font-family: sans-serif;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .peoples p {
        font-family: sans-serif;
        color: gray;
        line-height: 25px;
        font-size: 18px;
    }

    .seemore {
        margin-top: 75px;
        font-family: sans-serif;
        border-style: double;
        color: #fff;
        font-size: 20px;
        padding: 10px 40px;
        background-color: #8eb9a0;
        border: none;
        margin-left: 650px;
    }

    .icons {
        height: 40px;
        width: 40px;
        margin-top: 50px;
        margin-right: 20px;
    }

    .LOGO2 {
        height: 40px;
        margin-top: 50px;
        margin-left: 75px;
    }

    .logo2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 800px;
    }

    .socialmedia {
        margin-right: 40px;
    }

    .hl {
        border: 1px solid gray;
        margin-top: 50px;
        width: 1260px;
        margin-left: 95px;
    }

    .Links2 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    gap: 105px;
    }

    .Resources h2 {
        color: #fff;
        font-family: sans-serif;
        font-size: 22px;
    }

    .Resources h3 {
        color:#bbb;
        font-family: sans-serif;
        font-size: 17px;
    }

    .links3 {
        margin: 15px;
    }

    .bgc {
        background-color: #000;
        height: 450px;
        margin-top: 100px;
        }

    /* Responsive Design */

   @media screen and (max-width:1400px) {
    
    .logo {
        margin-left: 50px;
    }

    .items {
         gap: 30px;
        margin-left: 150px;
        }

    .button {
            margin-right: 10px;
        }

    .contianer2 {
            margin-right: -350px;
        }
    .Groupimage {
            height: 480px;
            margin-top: -425px; 
            margin-left:  -435px;
        }

    .Groupimage2 {
            width: 890px;
            margin-left: 50px;
        }
        
    .singleimage {
            height: 400px;
            margin-right: 70px;
            margin-top: -320px;
        }

    .header3 {
            margin-left: 55px;
            }
    
    .header3 h1 {
            font-size: 30px;
        }
    
    .header3 p {
            font-size: 15px;
            line-height: 20px;
        }
        
    .button2 {
            font-size: 15px;
            padding: 8px 30px;
            }
            
    .singleimage1 {
                height: 400px;
                margin-left: 50px;
                margin-top: -340px;
             }

   .header4 {
                margin-left: 550px;
                margin-top: 280px;
            }
                
    .header4 h1 {
                font-size: 30px;
            }
                
    .header4 p {
               font-size: 15px;
               line-height: 20px;
            }
                
    .singleimage2 {
              height: 400px;
              margin-top: -315px;
              margin-right: 70px;
            }
                
            
    .header5 {
                margin-top: 200px;
                margin-left: 55px;
                }
           
    .header5 h1 {
               font-size: 30px;
                  }
           
    .header5 p {
               font-size: 15px;
               line-height: 20px;
               }
    
    .Great {
                gap: 120px;
               }
       
    .Great h1 {
               font-size: 40px;
           }
       
    .Great p {
               font-size: 15px;
               line-height: 25px;
           }

     .Amera {
            width: 250px;
         }

     .Photos {
            gap: 70px;
        }

     .peoples {
        text-align: center;
     }

     .peoples h2 {
            font-family: sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
        }
    
     .peoples p {
            line-height: 15px;
            font-size: 12px;
        }

     .seemore {
            margin-left: 420px;
        }

     .logo2 {
            gap: 400px;
        }

    .Links2 {
            gap: 0px;
            }

    .hl {
             border: 1px solid gray;
             margin-top: 50px;
             width: 835px;
             margin-left: 85px;
            }
        
   }

   @media screen and (max-width:970px) {
    
    .logo {
        margin-left: 10px;
    }

    .items {
         gap: 15px;
        margin-left: 20px;
        }

    .header h1 {
            font-size: 40px;
            margin-top: -250px;
            margin-right: 200px;
            }
     
    .header p {
            font-family: sans-serif;
            color: #bbb;
            font-size: 15px;
            margin-top: 25px;
            line-height: 20px;
        }

    .Talk {
            font-size: 13px;
            padding: 10px 30px;
            margin-left: 240px;
            margin-top: -32.5px;
            }
    
    .Email {
          font-size: 16px;
          padding: 20px 115px 20px 50px;
         margin-top: -42.5px;
         }

    .Project h1 {
            font-size: 25px;
        }
    
     .Project h3 {
            font-size: 15px;
        }
     
     .header2 h2 {
            font-size: 30px ;
         }

    .Groupimage {
            height: 400px;
            margin-top: -330px; 
            margin-left:  -355px;
        }

    .Groupimage2 {
            width: 650px;
        }

     .care {
           font-size: 20px ;
           margin-top: 0px;
           line-height: 40px;
        }
        
    .singleimage {
            height: 300px;
            margin-right: 50px;
            margin-top: -270px;
        }

    .header3 {
            margin-left: 55px;
            margin-top: 150px;
            }
    
    .header3 h1 {
            font-size: 25px;
        }
    
    .header3 p {
            font-size: 12px;
            line-height: 18px;
        }
        
    .button2 {
            font-size: 12px;
            padding: 7px 25px;
            }
            
    .singleimage1 {
                height: 300px;
                margin-left: 50px;
                margin-top: -340px;
             }

   .header4 {
                margin-left: 400px;
                margin-top: 180px;
            }
                
    .header4 h1 {
                font-size: 25px;
            }
                
    .header4 p {
           font-size: 12px;
           line-height: 18px;
            }
                
    .singleimage2 {
              height: 300px;
              margin-top: -255px;
              margin-right: 45px;
            }
                
            
    .header5 {
                margin-top: 150px;
                margin-left: 55px;
                }
           
    .header5 h1 {
              font-size: 25px;
                  }
           
    .header5 p {
             font-size: 12px;
             line-height: 18px;
               }
    
    .Great {
                gap: 10px;
                margin-top: 200px;
               }
       
    .Great h1 {
               font-size: 30px;
           }
       
    .Great p {
               font-size: 12px;
               line-height: 20px;
           }

     .Amera {
            width: 200px;
         }

     .Photos {
            gap: 20px;
        }

     .peoples {
        text-align: center;
     }

     .peoples h2 {
            font-size: 15px;
            margin-bottom: 8px;
        }
    
     .peoples p {
            line-height: 10px;
            font-size: 10px;
        }

     .seemore {
            margin-left: 290px;
        }

     .logo2 {
            gap: 300px;
        }

    .Links2 {
            gap: 0px;
            }

    .hl {
             border: 1px solid gray;
             margin-top: 50px;
             width: 600px;
             margin-left: 85px;
            }
    .Resources h2 {
                font-size: 15px;
            }
        
    .Resources h3 {
                font-size: 12px;
            }

    .icons {
            height: 20px;
            width: 20px;
            }
    
    .LOGO2 {
        height: 25px;
    }
    
   }  

   @media screen and (max-width:730px) {
    
    .items {
        display: none;
    }

    .Groupimage {
        height: 200px;
        margin-top: 55px; 
        margin-left:  90px;
        margin-bottom: 100px;
    }

    .header {
        margin-top: -350px;
    }

    .Groupimage2 {
        width: 300px;
        height: 250px;
    }

    .care {
        font-size: 15px;
        line-height: 30px;
     }

     .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .singleimage {
        margin-right: 0px;
        margin-top: 0px;
    }

    .header3 {
        margin-left: 0px;
        margin-top: 150px;
        margin-bottom: 100px;
        text-align: center;
        }

    .flex1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
    
    .singleimage1 {
            margin-right: 0px;
            margin-top: 0px;
        }
    
    .header4 {
            margin-left: 0px;
            margin-top: 150px;
            margin-bottom: 100px;
            text-align: center;
            }

    .flex2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            
    .singleimage2 {
            margin-right: 0px;
            margin-top: 0px;
            }
            
    .header5 {
            margin-left: 0px;
            margin-top: 150px;
            margin-bottom: 100px;
            text-align: center;
            }

    .Great {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        text-align: center;
    }

    .Photos {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .Amera {
        width: 300px;
     }

     .peoples h2 {
        font-size: 25px;
        margin-bottom: 8px;
    }

   .peoples p {
        line-height: 15px;
        font-size: 12px;
        margin-bottom: 50px;
    }

    .seemore {
        margin-top: 10px; 
        margin-left: 120px;
    }

    .logo2 {
        gap:0px;
    }

    .LOGO2 {
        margin-left: 50px;
    }

    .icons {
        margin-right: 8px;
    }

    .hl {
        width: 265px;
        margin-left: 70px;
   }

   .Links2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .bgc {
        height: 1050px;
        }
   }
        
   
 
 
 
 
     

 

 